<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="webSocketHttpBinding">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings
              transportUsage="Always"
              createNotificationOnConnection="true" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="Automation.AutomationService">
        <endpoint
          address="http://127.0.0.1:8023/AutomationService"
          binding="customBinding"
          bindingConfiguration="webSocketHttpBinding"
          contract="Automation.IAutomationService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>